@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@font-face {
	font-family: 'Phantom Sans';
	src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Med.woff')
			format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@theme inline {
	--font-title: Phantom Sans, sans-serif;
	--color-primary: #FFFBF1;
	
}


h1, h2, h3, p, body, div {
	@apply text-black font-title
}


.wordcloud {
	@apply flex flex-col select-none
  }
.wordcloud svg {
	@apply p-[1rem]
}

.wordcloud label {
	@apply inline-flex items-center text-xs md:text-lg mr-2
}


@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}